# JetBrains project directory
/.idea

# Node dependencies
/node_modules

# Generated assets
/public/scripts
/public/styles

# Bower assets
/public/components

# Minifed versions
/public/scripts/*.min.js

# Other
/npm-debug.log
.sass-cache
