# Node dependencies
/node_modules

# Senstive configuration files
/config/server.json
/config/client.json

# Compiled versions
/.next
/public
/bundles

# Test artifacts
/playwright-report
/test-results

# Other
/npm-debug.log
.sass-cache

.now
