# JetBrains project directory
/.idea

# Node dependencies
/node_modules

# Senstive configuration files
/config/server.json
/config/client.json

# Generated assets
/public/scripts
/public/styles

# Bower assets
/public/components

# Minifed versions
/public/scripts/*.min.js

# Other
/npm-debug.log
/notes.txt