# JetBrains project directory
.idea

# Node dependencies
node_modules

# Senstive configuration files
server.json
client.json

# Generated assets
scripts
styles

# Bower assets
public/components
app/client/styles/components

# Minifed versions
public/scripts/*.min.js

# Other
npm-debug.log
notes.txt