.time-slider {
  position: absolute;
  bottom: $base-spacing-unit * 3;
  left: $base-spacing-unit;
  right: $base-spacing-unit;
  height: $base-spacing-unit;
  margin-right: $base-spacing-unit;

  &__track {
    position: absolute;
    z-index: 0;
    height: $base-spacing-unit / 4;
    top: $base-spacing-unit / 4 * 1.5;
    background-color: grey;
    left: 0;
    right: -$base-spacing-unit;
  }

  &__thumb {
    position: absolute;
    top: 0;
    right: 100%;
    height: $base-spacing-unit;
    width: $base-spacing-unit;
    background-color: black;
    z-index: 1;
  }
}