.time-slider {
  position: absolute;
  bottom: $base-spacing-unit * 3;
  left: $base-spacing-unit;
  right: $base-spacing-unit;
  height: $base-spacing-unit;
  margin-right: $base-spacing-unit;

  &__track {
    position: absolute;
    z-index: 0;
    height: $base-spacing-unit;
    top: 0;
    background-color: rgba(grey, .5);
    left: 0;
    right: -$base-spacing-unit;
    border-radius: $base-spacing-unit;
  }

  &__thumb {
    position: absolute;
    top: 0;
    right: 100%;
    height: $base-spacing-unit;
    width: $base-spacing-unit;
    border-radius: $base-spacing-unit;
    background-color: white;
    z-index: 1;
  }
}