.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
}

.place-deco {
  stroke: white;
}

.place-map {
  fill: black;
}

.connection {
  stroke: white;
}

.leaflet-tile-pane {
  opacity: .25;
}