.app-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  background-color: $background;

  .leaflet-tile-pane,
  .leaflet-control-container {
    @include transition(opacity, $base-transition-duration);
    opacity: 0;
  }

  &.active {
    .leaflet-tile-pane {
      opacity: .25;
    }

    .leaflet-control-container {
      opacity: 1;
    }
  }

  .leaflet-right .leaflet-control-zoom {
    margin-right: $base-spacing-unit;
  }

  .leaflet-bottom .leaflet-control-zoom {
    margin-bottom: $base-spacing-unit;
  }
}

.place-deco {
  stroke: $foreground;
  fill: none;

  .hover & {
    stroke: $highlight;
  }
}

.place-map image {
  transition: opacity 400ms;
}

.place-label {
  fill: $highlight;
  font-size: $base-font-size;
  transform: translate(0, 20px);
  font-family: "soleil", sans-serif;
  font-style: italic;
  display: none;

  .hover & {
    display: block;
  }

  &-stroke {
    stroke-width: 1;
    stroke: $background;
  }
}

.place-map-background {
  fill: $foreground;
}

.connection {
  stroke: $foreground;
}

.scale-list {
  position: absolute;
  z-index: -1;
}

[data-scale="place-radius"] {
  &[data-domain-max][data-range-max] {
    width: 300px;
  }

  &[data-domain-max][data-range-min] {
    width: 50px;
  }

  &[data-domain-min][data-range-max] {
    width: 50px;
  }

  &[data-domain-min][data-range-min] {
    width: 10px;
  }

  /*@media (min-width: 720px) {
    &[data-domain-max][data-range-max] {
      width: 250px;
    }

    &[data-domain-max][data-range-min] {
      width: 20px;
    }

    &[data-domain-min][data-range-max] {
      width: 30px;
    }

    &[data-domain-min][data-range-min] {
      width: 5px;
    }
  }*/
}

[data-scale="place-stroke-width"] {
  &[data-domain-max][data-range-max] {
    width: 20px;
  }

  &[data-domain-max][data-range-min] {
    width: 4px;
  }

  &[data-domain-min][data-range-max] {
    width: 5px;
  }

  &[data-domain-min][data-range-min] {
    width: 1px;
  }

  /*@media (min-width: 720px) {
    &[data-domain-max][data-range-max] {
      width: 30px;
    }

    &[data-domain-min][data-range-max] {
      width: 10px;
    }
  }*/
}

[data-scale="connection-stroke-width"] {
  &[data-domain-max][data-range-max] {
    width: 10px;
  }

  &[data-domain-max][data-range-min] {
    width: 1px;
  }

  &[data-domain-min][data-range-max] {
    width: 5px;
  }

  &[data-domain-min][data-range-min] {
    width: .5px;
  }

  /*@media (min-width: 720px) {
    &[data-domain-max][data-range-max] {
      width: 15px;
    }

    &[data-domain-min][data-range-max] {
      width: 2px;
    }
  }*/
}

[data-sizer="place-minimize-radius"] {
  width: 30px;
}