// Layout
$base-spacing-unit: 22px;
$base-spacing-unit--thin: 2px;

// Typography
$base-font-size: 12px;
$font-size-big: 18px;
$font-size-small: 10px;

// Colors
$background: white;
$foreground: #333333;
$highlight: #2963a5;