// Layout
$base-spacing-unit: 22px;
$base-spacing-unit--thin: 2px;

// Typography
$base-font-size: 16px;
$font-size-big: 24px;
$font-size-medium: 18px;
$font-size-small: 14px;

// Colors
$background: white;
$foreground: #333333;
$highlight: #2963a5;

// Timing
$base-transition-duration: 400ms;