.hero {
  background-color: rgba(white, .7);
  padding: $inuit-base-spacing-unit * 2;
  padding-top: $inuit-base-spacing-unit * 3;

  @include media-query(tablet) {
    background-color: rgba(white, .9);
  }

  @include media-query(tablet) {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: $inuit-base-spacing-unit * 20;
  }

  h1 {
    font-size: $font-size-hero;
  }

  &__section + &__section {
    margin-top: $inuit-base-spacing-unit;
  }

  &__highlight {
    margin-top: $inuit-base-spacing-unit * 2;
  }

  &__credits {
    font-size: $font-size-small;
    font-style: italic;
    opacity: .75;
  }

  &__go {
    display: block;
    line-height: $inuit-base-font-size * 2;

    .icon {
      font-size: $inuit-base-spacing-unit * 2;
      vertical-align: middle;
      margin-left: $inuit-base-spacing-unit;
      float: right;
    }

    & + & {
      margin-top: $inuit-base-spacing-unit;
    }
  }

  &__download {
    display: block;

    .icon {
      display: block;
      font-size: $inuit-base-spacing-unit * 2;
      margin-bottom: $inuit-base-spacing-unit / 2;

      &:before {
        display: inline-block;
        @include transform(rotate(90deg));
      }
    }

    em {
      display: block;
      font-size: $font-size-small;
    }
  }

  &__bottom {
    margin-top: $inuit-base-spacing-unit * 8;

    @include media-query(tablet) {
      margin-top: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0;
      padding: $inuit-base-spacing-unit * 2;
    }
  }

  &__logo {
    height: 65px;
  }
}