.ui {
  position: absolute;
  background-color: rgba($background, .9);
  top: $inuit-base-spacing-unit;
  left: $inuit-base-spacing-unit;
  padding: $inuit-base-spacing-unit;
  padding-bottom: $inuit-base-spacing-unit * 1.5;
  text-align: center;
  width: $inuit-base-spacing-unit * 14;
  z-index: 1;

  h1 {
    font-size: $font-size-big;
    text-transform: uppercase;
    margin: 0;
    margin-top: $inuit-base-spacing-unit / 2;
    text-align: left;
  }

  &__info {
    color: $foreground;
    position: absolute;
    top: $inuit-base-spacing-unit / 2;
    right: $inuit-base-spacing-unit / 2;
    font-size: $font-size-big;
    text-decoration: none;
  }

  &__stats {
    text-align: left;
    padding: 0;
    margin: $inuit-base-spacing-unit 0 0;

    dt {
      float: left;
      clear: both;
      font-style: italic;
    }

    dd {
      margin: 0;
      float: right;
    }
  }
}

.view-list {
  display: inline-block;
  margin-top: $inuit-base-spacing-unit * 4;

  &__button {
    @include transition(color $short-transition-duration);
    display: block;
    text-align: center;
    float: left;
    border: 0;
    background-color: transparent;
    color: $foreground;
    padding: 0;
    font-size: $ui-button-size;
    outline: none;
    overflow: hidden;
    width: $ui-button-size;
    height: $ui-button-size;
    line-height: 2rem;

    &.active,
    &:hover {
      color: $highlight;
    }
  }

  &__button + &__button {
    margin-left: $inuit-base-spacing-unit * 1.25;
  }
}

.time-slider {
  $thumb-size: $inuit-base-spacing-unit / 2;
  $track-height: $inuit-base-spacing-unit--tiny;

  margin-right: $thumb-size;
  position: relative;
  margin-top: $inuit-base-spacing-unit;

  &__track {
    position: absolute;
    z-index: 0;
    height: $track-height;
    top: 0;
    background-color: $foreground;
    left: 0;
    right: -$thumb-size;
    border-radius: $track-height;
    margin: (($thumb-size - $track-height) / 2) 0;
  }

  &__thumb {
    @include transition(background-color $short-transition-duration,
      transform $short-transition-duration);
    position: absolute;
    top: 0;
    right: 100%;
    height: $thumb-size;
    width: $thumb-size;
    border-radius: $thumb-size;
    background-color: $foreground;
    z-index: 1;
    cursor: pointer;

    &:hover,
    &.active {
      @include transform(scale(1.25));
      background-color: $highlight;
    }
  }
}

.time-range {
  font-style: italic;
  display: inline-block;
  width: 100%;
  margin-top: $inuit-base-spacing-unit;

  strong {
    text-transform: uppercase;
    display: block;
    font-style: normal;
    font-size: $font-size-small;
  }

  &__start {
    float: left;
    text-align: left;
  }

  &__end {
    float: right;
    text-align: right;
  }
}