.app {
  &__map {
    z-index: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: $background;

    .leaflet-tile-pane,
    .leaflet-control-container {
      @include transition(opacity, $base-transition-duration);
      opacity: 0;
    }

    &.active {
      .leaflet-tile-pane {
        opacity: .25;
      }

      .leaflet-control-container {
        opacity: 1;
      }
    }

    .leaflet-right .leaflet-control-zoom {
      margin-right: $inuit-base-spacing-unit;
    }

    .leaflet-bottom .leaflet-control-zoom {
      margin-bottom: $inuit-base-spacing-unit;
    }
  }

  &__try-own-data,
  &__logout {
    position: absolute;
    top: $inuit-base-spacing-unit * 2;
    right: $inuit-base-spacing-unit * 2;
    font-style: italic;
    text-align: right;
    display: block;
    z-index: 1;
    width: 180px;

    .icon {
      font-size: $ui-button-size;
      float: right;
      margin-left: $inuit-base-spacing-unit;
      line-height: $inuit-base-line-height * 2;
    }
  }
}