.loading-screen {
  @include transition(opacity $base-transition-duration);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $highlight;
  color: $background;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  overflow: hidden;

  &.active {
    pointer-events: auto;
    opacity: 1;
  }

  $spinner-size: 47px;

  &__hero {
    position: absolute;
    top: $inuit-base-spacing-unit * 2;
    left: $inuit-base-spacing-unit * 2 + $spinner-size;

    h1 {
      font-size: $font-size-hero;
      color: $background;
    }

    .lede {
      margin-top: 0;
      opacity: .5;
    }

    @include media-query(tablet) {
      top: $inuit-base-spacing-unit * 4;
      left: $inuit-base-spacing-unit * 4 + $spinner-size;
    }

    @include media-query(desktop) {
      top: $inuit-base-spacing-unit * 6;
      left: $inuit-base-spacing-unit * 7 + $spinner-size;
    }
  }

  &__spinner {
    @include animation(spinner 1.2s infinite linear both);
    position: absolute;
    width: $spinner-size;
    top: $inuit-base-spacing-unit * 2;
    left: $inuit-base-spacing-unit;

    @include media-query(tablet) {
      top: $inuit-base-spacing-unit * 4;
      left: $inuit-base-spacing-unit * 3;
    }

    @include media-query(desktop) {
      top: $inuit-base-spacing-unit * 6;
      left: $inuit-base-spacing-unit * 5;
    }
  }

  &__track {
    position: absolute;
    height: $inuit-base-spacing-unit--tiny;
    right: $inuit-base-spacing-unit;
    left: $inuit-base-spacing-unit;
    bottom: 30%;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $background;
      opacity: .5;
    }

    @include media-query(tablet) {
      right: $inuit-base-spacing-unit * 3;
      left: $inuit-base-spacing-unit * 3;
      bottom: $inuit-base-spacing-unit * 6;
    }

    @include media-query(desktop) {
      right: $inuit-base-spacing-unit * 7;
      left: $inuit-base-spacing-unit * 7;
      bottom: $inuit-base-spacing-unit * 7;
    }
  }

  &__train {
    @include transition(width $base-transition-duration);
    position: absolute;
    height: 100%;
    right: 0;
    background-color: $background;

    &:after {
      content: '';
      position: absolute;
      left: -$inuit-base-spacing-unit--tiny;
      top: -$inuit-base-spacing-unit--tiny - $inuit-base-spacing-unit--tiny / 2;
      border-radius: $inuit-base-spacing-unit--tiny * 4;
      background-color: white;
      width: $inuit-base-spacing-unit--tiny * 4;
      height: $inuit-base-spacing-unit--tiny * 4;
    }

    &__start,
    &__stats {
      position: absolute;
      right: 100%;
      text-align: right;

      [data-progress~="40"] & {
        left: 0;
        right: auto;
        text-align: left;
      }

      @include media-query(tablet) {
        [data-progress~="10"] & {
          left: 0;
          right: auto;
          text-align: left;
        }
      }
    }

    &__start {
      top: $inuit-base-spacing-unit / 2;

      strong, em {
        white-space: nowrap;
      }

      strong {
        display: block;
        font-size: $font-size-small;
        text-transform: uppercase;
      }
    }

    &__stats {
      list-style: none;
      bottom: $inuit-base-spacing-unit / 2;
      margin: 0;
      padding: 0;
      opacity: .5;

      li {
        white-space: nowrap;
      }
    }
  }
}

@include keyframes(spinner) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}