// Basic Spacing
$inuit-base-spacing-unit: 16px;
$inuit-base-spacing-unit--tiny: 2px;

// Typography
$font-size-hero: $inuit-base-font-size * 2;
$font-size-big: $inuit-base-font-size * 1.25;
$font-size-medium: $inuit-base-font-size * 1.125;
$font-size-small: $inuit-base-font-size * 0.75;

// Colors
$background: #ffffff;
$foreground: #333333;
$highlight: #2963a5;

// Timing
$base-transition-duration: 400ms;
$short-transition-duration: 200ms;

// Components
$ui-button-size: $inuit-base-spacing-unit * 2;

// Inuit
$breakpoints: (
  "tablet" "screen and (min-width: 600px)",
  "desktop" "screen and (min-width: 1000px)"
);
$inuit-enable-layout--large: true;
$inuit-widths-columns: 1, 2, 3, 4, 5;
$inuit-use-fractions: false;