doctype html
html(lang="en")
    head
        title Shifted Maps
        meta(name='description', content='Shifted Maps')
        meta(name='author', content='Lennart Hildebrandt & Heike Otten (University of Applied Sciences Potsdam)')
        meta(name='viewport', content='width=device-width, user-scalable=no')

        link(href="/images/favicon.ico", rel="shortcut icon")

        block styles
            link(href='/styles/desktop.css', rel='stylesheet')
    body
        block content

        block scripts
            script(src='https://use.typekit.net/hil0jky.js')
            script="try{Typekit.load({async: true});}catch(e){}"
