extends ./base.jade

block content
    .screencast
        video.video-js.vjs-cover(width="auto" height="auto" autoplay="true" preload="auto" loop)
            source(src="/videos/screencast-hd.mp4" type="video/mp4")
            source(src="/videos/screencast-hd.webm" type="video/webm")

    .hero
        h1 Shifted Maps
        p.lede Visualizing personal Movement through Map Networks

        p.hero__highlight
            a.hero__go(href="/map" + (exhibition ? "?exhibition" : ""))
                | Test the Demo
                i.icon.icon--go
            a.hero__go(href="/auth" + (exhibition ? "?redirect=/map?exhibition" : ""))
                | Explore your own Data
                i.icon.icon--go

        a.badget(href="/downloads/ShiftedMaps_Usertest.pdf" title="Click for more information.")
            img(src="/images/user-test-badget.svg" alt="Participate in User Test and earn 20 €!")

        .hero__bottom
            unless exhibition
                .layout.hero__section
                    .layout__item.u-1-of-3
                        a.hero__download(href="/downloads/ShiftedMaps_Paper_V2.pdf")
                            i.icon.icon--go
                            | Paper
                            em 874 KB
                    .layout__item.u-1-of-3
                        a.hero__download(href="/downloads/ShiftedMaps_Plakat.pdf")
                            i.icon.icon--go
                            | Poster
                            em 4,8 MB

            p.hero__credits.hero__section
                | Shifted Maps is a student
                | research project by
                | Lennart Hildebrandt and
                | Heike Otten at the Urban
                | Complexity Lab, University of
                | Applied Sciences Potsdam.

            .layout.hero__section
                .layout__item.u-1-of-5
                    if exhibition
                        img.hero__logo(src="/images/fhp-logo.png")
                    else
                        a(href="http://www.fh-potsdam.de")
                            img.hero__logo(src="/images/fhp-logo.png")
                .layout__item.u-1-of-2
                    if exhibition
                        img.hero__logo(src="/images/uclab-logo.png")
                    else
                        a(href="http://uclab.fh-potsdam.de")
                            img.hero__logo(src="/images/uclab-logo.png")

prepend styles
    link(href="/components/video.js/dist/video-js.min.css" rel="stylesheet")

append scripts
    script(src="/components/video.js/dist/video.min.js")