extends ./base.jade

prepend styles
    link(href="https://api.tiles.mapbox.com/mapbox.js/v2.4.0/mapbox.css", rel="stylesheet")

append scripts
    script(src="https://api.tiles.mapbox.com/mapbox.js/v2.4.0/mapbox.js")
    script(src="/scripts/index.js")

block content
    script var ENV = !{JSON.stringify(env)};
    #app
