extends ./base.jade

prepend styles
    link(href="https://api.tiles.mapbox.com/mapbox.js/v2.1.6/mapbox.css", rel="stylesheet")

append scripts
    script(src="https://api.tiles.mapbox.com/mapbox.js/v2.2.2/mapbox.js")
    script(src="/scripts/index.js")

block content
    #app