@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/overpass-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: italic;
  font-weight: 400;
  src: url(/static/fonts/overpass-italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 900;
  src: url(/static/fonts/overpass-extrabold.woff2) format('woff2');
}